<center>

<div class="container">
<% if logged_in? %>
   <a href='/sneakers'>Home Locker  </a>
 <% else %>
  <li><a href="/login">LOGIN!</a></li>
  <li><a href="/user">SIGNUP!</a></li>
<% end %>



  </div>
</div>
</center>
